@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital@1&family=Roboto&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;

}

nav {
    font-family: 'Rethink Sans', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 85px;
    background-color:black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 68px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.container {
    min-height: 60.5vh;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 85vw;
    border-radius: 14px;
    background-image: url('statics/bg.jpg');
    background-size: cover;
    background-position: center;
}



.bottom {
    position: sticky;
    height: 110px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    overflow: hidden;
}

#myProgessBar {
    width: 80vw;  
    cursor: pointer; 
}

.icons {
    margin-top: 20px;
}

.icons i {
    margin: 5px;
}


h1 {
    margin: px 0 12px 25px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0 12px 25px;
    justify-content: space-between;
    align-items: center;
    border-radius: 38px;
}

.songItem img {
    width: 40px;
    margin: 0 23px;
    border-radius: 38px;
}

.timeStamp {
    margin: 23px;
}

.songInfo {
    position: absolute;
    left: 9.9vw;
    bottom: 2.4vw;
    font-family: 'Roboto', sans-serif;
}

.songInfo img {
    position: relative;
    top: 27px;
    margin-right: 10px;
    width: 65px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
